*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.cell-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 450px;
    height: 450px;
    margin: 25px auto;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 52px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    width: 150px;
    height: 150px;
    background-color: crimson;
    transition: all .2s;
    cursor: pointer;
    border:1px solid whitesmoke;
}

.hidden {
    display: none;
}