@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inconsolata", monospace;
}

.main-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.cell-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 450px;
    height: 450px;
    margin: 25px auto;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 52px;
    font-family: "Montserrat", sans-serif;
    color: rgb(243, 242, 242);
    width: 150px;
    height: 150px;
    background-color: rgb(233, 51, 87);
    transition: all .2s;
    cursor: pointer;
    border:1px solid rgb(243, 242, 242);
}

.hidden {
    display: none;
}

.play-again {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 10px;
}

.play-again-btn {
    padding: 10px;
    cursor: pointer;
    border:none;
    background-color: rgb(233, 51, 87);
    color: rgb(243, 242, 242);
    transition: all .2s;
}

.play-again-btn:hover {
    background-color: rgb(243, 242, 242);
    color: rgb(233, 51, 87);
}